#content{
    outline: 2px dashed #ffffff ;
    outline-offset:-10px;  
    text-align: center;
    transition: all .15s ease-in-out;
    width: 200px;
    height: 150px;
    background-color: black;
}

#content img, #content video{
    width:100%;
    height:100%;
    display:none;
}