

@font-face {
    font-family: 'Silver';
    font-weight: 700;
    font-display: swap;
    src: local('Silver'),
    url('./Silver.woff') format('woff'),
    url('./Silver.ttf') format('truetype');
}

@font-face {
    font-family: 'Silver';
    font-weight: 400;
    font-display: swap;
    src: local('Silver'),
    url('./Silver.woff') format('woff'),
    url('./Silver.ttf') format('truetype');
}

@font-face {
    font-family: 'Silver';
    font-weight: 300;
    font-display: swap;
    src: local('Silver'),
    url('./Silver.woff') format('woff'),
    url('./Silver.ttf') format('truetype');
}

@font-face {
    font-family: 'Silver';
    font-weight: 100;
    font-display: swap;
    src: local('Silver'),
    url('./Silver.woff') format('woff'),
    url('./Silver.ttf') format('truetype');
}
