@font-face {
  font-family: 'Silver';
  src:url('https://meowljane.github.io/record/font/Silver.woff') format('woff'),
        url('https://meowljane.github.io/record/font/Silver.woff2') format('woff2'),
        url('https://meowljane.github.io/record/font/Silver..svg#Silver') format('svg'),
        url('https://meowljane.github.io/record/font/Silver.eot'),
        url('https://meowljane.github.io/record/font/Silver.eot?#iefix') format('embedded-opentype'),
        url('https://meowljane.github.io/record/font/Silver.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
