#box{margin:0 auto; position: relative;}
*{
  cursor: url(https://www.thelabyrinth.co.kr/labyrinth/upload/quest/3440/1629109221972/%EC%BB%A4%EC%84%9C1_1.png), default;}
  #content, #btn, button, .tips{
      cursor: url(https://www.thelabyrinth.co.kr/labyrinth/upload/quest/3440/1629109221972/%EC%BB%A4%EC%84%9C2.png), pointer;
  } 
  .modal .btn{cursor: pointer;border: 1px solid #999999;text-align: center;border-radius: 5px;outline: none;font-weight: 500;}
  .modal{width: 300px;height: 252px;border-radius: 10px;padding: 50px 24px;box-sizing: border-box;text-align: center;}
  .modal-section{background: #c4c4c4;box-sizing: border-box;display: none;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);display: none;z-index: 9999;}
  .menu_msg{font-size: 21px;font-weight: 500;}
  .enroll_box p{padding-bottom: 56px;}
  .pink_btn {width: 90px;background: #303030;color: #fff;height: 36px;line-height: 36px;transition: 0.5s;font-size: 17px;border: none;}
  
#Q{opacity: 1;
  transition : 1s;
  position: absolute;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 450px;
  background-size: cover;
  background-image: url('./Q1.png');
  z-index: 3;}

 #Q2{ position: absolute;
    top: 500px;
    left: 150px;
  width: 500px;
  height: 50px;
background-size: cover;
background-image: url('./Q2.png');} 


#content{position: absolute;
  left: 300px;
  top: 550px;
  width: 200px;
  height: 150px;
  outline: 2px dashed #ffffff ;
  outline-offset:-10px;  
  text-align: center;
  transition: all .15s ease-in-out;
  background-color: rgba(0,0,0,0.1);}

#content img, #content video{
    width:100%;
    height:100%;
    display:none;
}

.view {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 600px;
  height: 450px;
  background: #fff;
  margin: 0 auto; 
  background-size: cover;
background-image: url(./Q2.png);
}

.transparent_view {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform: translate3d(776px,-576px,0);
}

#tip {
  position: absolute;
  width: 30px;
  height: 26px;
  bottom: -152px;
  left: -206px;
  z-index: 3;
background: red;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(45deg, #f9f9f9 1%, #595959 49%, #111111 58%, #111111 78%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#f9f9f9), color-stop(49%,#595959), color-stop(58%,#111111), color-stop(78%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* IE10+ */
background: linear-gradient(45deg, #f9f9f9 2%,#ddd 49%,#111111 51%,#111111 78%,#131313 100%); /* W3C */
}

#tip2 {
  position: fixed;
  width: 30px;
  height: 26px;
  bottom: -152px;
  right: 1346px;
  z-index: 3;
background: red;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f9f9f9 1%, #595959 49%, #111111 58%, #111111 78%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right bottom, left top, color-stop(1%,#f9f9f9), color-stop(49%,#595959), color-stop(58%,#111111), color-stop(78%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* IE10+ */
background: linear-gradient(-45deg, #f9f9f9 2%,#ddd 49%,#111111 51%,#111111 78%,#131313 100%) ;/* W3C */
}

#tip3 {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 1000px;
  right: 1346px;
  z-index: 3;
background: red;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(-135deg, #f9f9f9 1%, #595959 49%, #111111 58%, #111111 78%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, left bottom, color-stop(1%,#f9f9f9), color-stop(49%,#595959), color-stop(58%,#111111), color-stop(78%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* IE10+ */
background: linear-gradient(-135deg, #f9f9f9 2%,#ddd 49%,#111111 51%,#111111 78%,#131313 100%) ;/* W3C */
}

#tip4 {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 1000px;
  left: -206px;
  z-index: 3;
background: red;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(135deg, #f9f9f9 1%, #595959 49%, #111111 58%, #111111 78%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#f9f9f9), color-stop(49%,#595959), color-stop(58%,#111111), color-stop(78%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(135deg, #f9f9f9 1%,#595959 49%,#111111 58%,#111111 78%,#131313 100%); /* IE10+ */
background: linear-gradient(135deg, #f9f9f9 2%,#ddd 49%,#111111 51%,#111111 78%,#131313 100%) ;/* W3C */
}


.shadow_left, .shadow_right {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 1px;
  z-index: 2;
  border-corner-shape: scoop;
}

.shadow_right {
 -webkit-transform: rotate(180deg) translate3d(0,-10px,0);
box-shadow: 0px 10px 4px #000;
}
.shadow_left {
  -webkit-transform: rotate(87deg) translate3d(-14px,2px,0);
  box-shadow: 0px 10px 4px #000;
}
