.container {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 1000px;
  margin: 25px;
}

.image img {
  max-width: 1000px;
}

.loupe {
  display: none;
  position: absolute;
      width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid transparent;
    background: url(./mag.png) center/100% 100% border-box;
    cursor: none;
  overflow: hidden;
}

.loupe img {
  position: absolute;
  right; 0;
}
